<section id="ideals" class="bg-light">
    <div class="container">
        <div class="text-center">
            <h2><i class="bi bi-stars"></i>Our Ideals</h2>
            <p>Of course, to pick the best tsundere inside all of them, we have to decide on few ideal rules...</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="list-group shadow">
                    <div class="list-group-item py-3">
                        <h5 class="mb-1"><i class="bi bi-1-circle"></i>A Tsundere has to have gentle side</h5>
                        <p class="mb-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto et voluptatibus consequuntur obcaecati porro ex laborum.</p>
                    </div>
                    <div class="list-group-item py-3">
                        <h5 class="mb-1"><i class="bi bi-2-circle"></i>A Tsundere shouldn't be toxic</h5>
                        <p class="mb-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto et voluptatibus consequuntur obcaecati porro ex laborum.</p>
                    </div>
                    <div class="list-group-item py-3">
                        <h5 class="mb-1"><i class="bi bi-3-circle"></i>A Tsundere has to have a lot of dere moment</h5>
                        <p class="mb-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto et voluptatibus consequuntur obcaecati porro ex laborum.</p>
                    </div>
                    <div class="list-group-item py-3">
                        <h5 class="mb-1"><i class="bi bi-4-circle"></i>A Tsundere must be cute in her tsun and dere moments</h5>
                        <p class="mb-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto et voluptatibus consequuntur obcaecati porro ex laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>