<!--Tsundere's Section-->
<section id="info" class="bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="fw-bold"><i class="bi bi-stars"></i>What is 'Tsundere?'</h2>
            <p class="lead text-muted">
                Tsundere (ツンデレ, pronounced [tsɯ̥ndeɾe]) is a Japanese term for a character development process that depicts a character with a personality who is initially very harsh before gradually showing a warmer, friendlier side over time.
            </p>
        </div>
        <!--Cards-->
        <div class="row my-5 aling-items-center justify-content-center">
            <div class="col-8 col-lg-4 col-xl-3 pb-2">
                <div class="card border-1 border-secondary shadow">
                    <img href="#hayase-yuuka" src="../assets/img/card-1.png" alt="" class="card-img-top"
                    data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
                    
                    <div class="card-body text-center py-4">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3 pb-2">
                <div class="card border-1 border-secondary shadow">
                    <img href="#keqing" src="../assets/img/card-2.jpg" alt="" class="card-img-top"
                    data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
                    <div class="card-body text-center py-4">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3 pb-2">
                <div class="card border-1 border-secondary shadow">
                    <img href="#admiral-hipper" src="../assets/img/card-3.jpg" alt="" class="card-img-top"
                    data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
                    <div class="card-body text-center py-4">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3 pb-2">
                <div class="card border-1 border-secondary shadow">
                    <img href="#karyl" src="../assets/img/card-4.jpg" alt="" class="card-img-top"
                    data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
                    <div class="card-body text-center py-4">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Type Explanation-->
        <div class="container-md">
            <div class="text-center">
                <h4><i class="bi bi-stars"></i>Tsundere Type's</h4>
                <p class="lead text-muted">Of course, after all these years Tsundere's got evolved and mainly 2 kind of tsundere type's appeared. These are;</p>
            </div>
            <div class="accordion shadow" id="types">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="type1h">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#type1" aria-expanded="false" aria-controls="type1">Classic Tsundere</button>
                    </h2>
                    <div id="type1" class="accordion-collapse collapse" data-bs-parent="types" aria-labelledby="heading-1">
                        <div class="accordion-body">
                            <p>A Japanese character development process which describes a person who is initially cold and even hostile towards another person before gradually showing their warm side over time. This change of behavior is permanent, and that's where the classic tsundere type is different form the modern tsundere.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="type2h">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#type2" aria-expanded="false" aria-controls="type2">Modern Tsundere</button>
                    </h2>
                    <div id="type2" class="accordion-collapse collapse" data-bs-parent="types" aria-labelledby="heading-2">
                        <div class="accordion-body">
                            <p>A variation of the tsundere personality type which has the tsundere character switch between hostile and lovestruck personalities often, which is in contrast to the classic tsundere type where the change is gradual and permanent.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>