<!--Nav Bar-->
<nav class="navbar navbar-expand-md">
    <div class="container-xl">
        <a href="" class="navbar-brand">
            <span class="fw-bold text-secondary">
                <i class="bi bi-tsunami"></i>
                Tsunefied
            </span>
        </a>

        <!--Toggle-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!--Links-->
        <div class="collapse navbar-collapse justify-content-start align-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#info" class="nav-link">Tsundere's</a>
                </li>
                <li class="nav-item">
                    <a href="#ideals" class="nav-link">Ideals</a>
                </li>
                <li class="nav-item">
                    <a href="#tform" class="nav-link">Add Tsundere</a>
                </li>
            </ul>
        </div>
    </div>
</nav>