<!--Main image and text-->
<section id="intro">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center text-md-start">
                <h1>
                    <div class="display-2">Tsunderes!</div>
                    <div class="display-5 text-muted">DNA Of the Soul!</div>
                </h1>
                <p class="lead my-4 text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In velit perferendis ex. Ea corrupti maiores officiis?</p>
                <a href="" class="btn btn-primary btn-lg mb-3" data-bs-toggle="modal" data-bs-target="#cult-error">Join our cult!</a>
            </div>
            <div class="col-md-5 text-center">
                <img href="#hayase-yuuka" src="../assets/img/1286131.png" alt="" class="img-fluid rounded border border-secondary border-2"
                data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="cult-error" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Oh no...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>Cult recruiting service is still work in progress...</p>
            </div>
        </div>
    </div>
</div>