<div class="offcanvas offcanvas-start" tabindex="-1" id="hayase-yuuka" aria-labelledby="yuuka-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="yuuka-label">Hayase Yuuka</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <img src="../assets/img/Yuuka_Portrait.png" class="img-fluid">
        <p>
            Hayase Yuuka (早瀬ユウカ) is one of the students studying in Millennium Science School who wields a Sub-Machine Gun.
            <br>
            <br>
            She is a member of the Seminar and the Treasurer of her school.
        </p>
        <button class="btn btn-primary" (click)="YuukaWiki()">Her Wiki Page</button>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="keqing" aria-labelledby="keqing-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="keqing-label">Keqing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <img src="../assets/img/Character_Keqing_Card.png" class="img-fluid">
        <p>
            Keqing (Chinese: 刻晴 Kèqíng) is a playable Electro character in Genshin Impact.
            <br>
            As the Yuheng of the Liyue Qixing, she is someone who seeks her own answers instead of idly letting chaos run amok in Liyue. She chooses her own path with her own power and ability, instead of letting the gods determine her fate.
        </p>
        <button class="btn btn-primary" (click)="KeqingWiki()">Her Wiki Page</button>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="admiral-hipper" aria-labelledby="hipper-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="hipper-label">Admiral Hipper</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <img src="../assets/img/800px-Admiral_Hipper.png" class="img-fluid">
        <p>
            KMS Admiral Hipper is Heavy Cruiser shipgirl from Iron Blood faction
            <br>
            "I am Admiral Hipper, the Iron Blood heavy cruiser named after the undefeated Admiral Franz von Hipper. I have participated in countless battles and given them my all. The Barents Sea? That only happened because Admiral Kummetz was even dumber than you." <br> -Her self introduction
        </p>
        <button class="btn btn-primary" (click)="HipperWiki()">Her Wiki Page</button>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="karyl" aria-labelledby="karyl-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="karyl-label">Karyl</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <img src="../assets/img/Kyaru-portrait.png" class="img-fluid">
        <p>
            Karyl is a Playable Character in Princess Connect! Re:Dive. <br> A magic-user who has the ability to tame and control monsters, she is a member of Gourmet Guild.
        </p>
        <button class="btn btn-primary" (click)="KarylWiki()">Her Wiki Page</button>
    </div>
</div>
