/* You can add global styles to this file, and also import other style files */

section{
    padding: 60;
}


#info{
    margin-top: 11rem;
}

#ideals{
    margin-top: 6rem;
}

#tform{
    margin-top: 6rem;
}

